<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Race01. Authorization">
    <title>Authorization</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/form.css">
    <link rel="stylesheet" href="../style/media.css">
    <link rel="stylesheet" href="../style/preloader.css">
    <link rel="stylesheet" href="../style/animation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
</head>

<body>
    <div id="preloader" class="visible"></div>
    <div class="vid-reg">
        <div class="video">
              <video preload="auto" class="vid__reg" autoplay playsinline muted loop>
                <source src="https://drive.google.com/uc?export=download&confirm=no_antivirus&id=1UtBUdmtDv5GKAnH3jvVCc7YnrfJDN5Q0" type="video/webm">
                <source src="https://drive.google.com/uc?export=download&confirm=no_antivirus&id=19o2aQDI-YYLJ2YX4jcrvYJD5PKv9nq-f" type="video/mp4">
              </video>
        </div>
    </div>
    <div class="content">
        <div class="container login-form">
            <div class="forms">
                <!-- Login Form -->
                <div class="form login">
                    <span class="title text-login">Login</span>
                    <form id="form" action="#">
                        <div class="input-field">
                            <input id="login" name="login" type="text" placeholder="Enter your login" required>
                            <i class="uil uil-users-alt icon"></i>
                        </div>
                        <div class="input-field">
                            <input id="password" name="password" type="password" class="password" placeholder="Confirm a password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
                        <div class="notify form-item"></div>
                        <div class="input-field button">
                            <input class="btn form-submit-btn" type="submit" value="Login Now">
                        </div>
                    </form>
                
                    <div class="login-signup">
                        <a href="/register" class="text signup-link">Register now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../scripts/preloader.js"></script>
<script src="../scripts/login.js"></script>
<script src="../scripts/form.js"></script>
</html>
