<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/preloader.css">
    <link rel="stylesheet" href="../style/animation.css">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
    <meta name="description" content="Race01. Start">
    <title>Start the Game</title>
  </head>
  <body> 
    <div id="preloader" class="visible"></div>
    <div class="main-container">
      <div class="start-container">
        <div class="menu">
          <div class="menu-item">
            <a class="login-link-menu" href="/login">Logout </a>
            <div class="start-menu">
              <a href="/game">              
              <button>
                <div class="wave"></div>
                <span>Start the Game</span>
              </button>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../scripts/preloader.js"></script>
</html>

